:root {
    --primary-color: #00205b;
    --secondary-color: #dbe2e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-theme {
    background-color: var(--primary-color);
}

.text-theme {
    color: var(--primary-color);
}

.bg-theme {
    background-color: var(--primary-color);
}

body {
    background-color: var(--secondary-color);
    min-height: 100vh;
}